body {
  font-family: Arial;
  text-align: center;
  background: #111;
  color: gray;
}

#cases {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  padding: 20px;
}

.case {
  background: lightPink;
  padding: 20px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
}

.case:hover {
  background: lightBlue;
}

.opened {
  background: magenta;
  cursor: not-allowed;
}

#controls button, #endgame button {
  margin: 10px;
  padding: 10px 20px;
}
